# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
microservice_cloud_api/src/main/resources/
microservice_cloud_api/src/test/
microservice_cloud_api/target/generated-sources/
microservice_consumer_dept_80/src/test/
microservice_consumer_dept_80/target/generated-sources/
microservice_eureka_7001/src/test/
microservice_eureka_7001/target/generated-sources/
microservice_eureka_7002/src/test/
microservice_eureka_7002/target/generated-sources/
microservice_eureka_7003/src/test/
microservice_eureka_7003/target/generated-sources/
microservice_provider_dept_8001/src/test/
microservice_provider_dept_8001/target/generated-sources/
microservice_provider_dept_8002/src/test/
microservice_provider_dept_8002/target/
microservice_provider_dept_8003/src/test/
microservice_provider_dept_8003/target/
